@media screen and (max-height: 800px) {
    .Busqueda-container {
        flex-direction: column;
    }

    .input-busqueda {
        max-width: 250px;
    }

    .resultados-busqueda {
        gap: 30px 0;
        padding: 30px 0;
    }

    .card {
        width: 90%;
        height: 70px;
        padding: 1rem 1.2rem;
    }

    .modal-content {
        width: 70%;
        height: 90%;
    }

    .crear-proyecto-button {
        top: 10px;
        right: 10px;
        font-size: 14px;
        padding: 8px 16px;
    }

    .modal-view-content {
        width: 70%;
        height: 94%;
        padding: 15px;
    }

    .modal-view-details,
    .modal-view-files,
    .modal-view-dates {
        width: 90%;
    }

    .modal-view-details {
        height: 5%;
    }

    .modal-view-files {
        height: 15%;
    }

    .modal-view-dates {
        height: 40%;
    }

    .file-list {
        flex-wrap: wrap;
    }

    .file-list>li {
        width: 16%;
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }

    td,
    th {
        padding: 3px;
    }

    .dates-table {
        margin-top: 5px;
    }

    span {
        width: 100%;
    }

    .deadlines {
        display: flex;
        margin: 10px 0 0 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        align-items: center;
        gap: 15px 0;
        font-size: 14px;
    }
    
    .deadlines p {
        width: 90%;
        padding: 8px 5px;
        border-radius: 6px;
        color: #242424;
        font-weight: 500;
        display: flex;
        text-align: center;
    }

    #modal-view-close-btn {
        margin: 35px 0 0 0;
    }

}